<div class='container'>
      <%= render 'layouts/errors', obj: @book %>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'users/info', user: @book.user %>
      <h2 class="mt-3">New book</h2>
      <%= render 'form', book: @booknew %>
    </div>
    <div class='col-md-8 offset-md-1'>
  		<h2>Book detail</h2>
  		<table class='table'>
  		  <tr>
          <td><%= link_to(@book.user) do %>
            <%= image_tag @book.user.get_profile_image, size:"100x100" %><br>
            <%= @book.user.name %>
            <% end %>
          </td>
          <td><%= link_to @book.title, @book %></td>
          <td><%= @book.body %></td>

         <!-- ↓追加(部分的に更新したい場所)↓ -->
        <td id="favorite_btn_<%= @book.id %>">
          <%= render 'favorites/favorite', book: @book %>
        </td>
         <!-- ↑ここまで↑ -->

  <% if @book.user == current_user %>
            <td><%= link_to 'Edit', edit_book_path(@book), class: "btn btn-sm btn-success" %></td>
            <td><%= link_to 'Destroy', @book, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%></td>
  <% end %>

  <div>
  <td>コメント件数：<%= @book.book_comments.count %></td>
</div>
        </tr>
      </table>

      <div id="comment">
        <%= render "books/comment", book: @book, book_comment: @book_comment %>
      </div>
        <%= render "books/comment_area", book: @book, book_comment: @book_comment %>

    </div>
  </div>
</div>